<% if user_signed_in? && current_user.admin? %>

<div id="kitIndex">
<h1>Kits</h1><br />
  <%= link_to 'New Kit', new_kit_path %>
   <!-- |  -->
  <%# link_to 'New Kit Item', new_item_path %><br /><br />
  <% @kits.each do |kit| %>
    <div class="kitPreview">
      <a href="/kits/<%= kit.id %>">
      <h4><%= kit.name %></h4></a><br />
      <a href="/experiments/<%= kit.experiment.id %>">
      <strong>Experiment: </strong><%= kit.experiment.title %></a><br />
      <a href="/kits/<%= kit.id %>">
      <%= image_tag kit.image %></a><br />
      <%= link_to 'Edit', edit_kit_path(kit) %> | 
      <%= link_to 'Destroy', kit, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>

<% end %>