<div id="kitShow">

<h2><%= kit.name %></h2><br />

  <p class="expName"><strong>Experiment:</strong><br />
  <%= kit.experiment.title %></p>

<p>
  <strong>Items:</strong><br />
  <% kit.items.each do |item| %>
  	<%= item.name %><br />
  <% end %>
</p>
  <%= image_tag kit.image %>
</div>

<% if user_signed_in? && current_user.admin? %>
	<%= link_to 'Edit', edit_kit_path(kit) %>
<% end %>