<h2><%= kit.name %></h2><br />

<p>
  <strong>Experiment:</strong><br />
  <%= kit.experiment.title %>
</p>

<p>
  <strong>Items:</strong><br />
  <% kit.items.each do |item| %>
  	<%= item.name %><br />
  <% end %>
</p>

<p>
  <%= image_tag kit.image %>
</p>

<%= link_to 'Edit', edit_kit_path(kit) %> |
<%= link_to 'Back', kits_path %>
