<div id="articleDiv">

	<% @news_info.each do |article|  %>
		<h3><%= article.name %></h3>
		<a href="<%= article.alink %>">Read full article</a><br />
		<img class="newsImage" src="<%= article.picture %>" />
		<p><%= article.date %></p>
		<p><%= article.overview %></p><br />
		<% if user_signed_in? %>
		<div id="article_button_<%= article.id %>"class="article_button">
			<% if article.favorited? current_user %>
         <%= button_remove_article article %>
      <% else %>
         <%= button_add_article article %>
      <% end %>
     </div>
     <% else %>
        <p>Sign in and save articles</p>
		<% end %>
	<% end %>
	
</div>