<%= simple_form_for(@experiment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :overview %>
    <%= f.input :image %>
    <%= f.association :field %>
    <%# f.select :field, options_for_select( Field.all.map{|s| [s.field]}) %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
