<div id="experimentPostDiv">
	<h2>Posts</h2><br />
		<% if user_signed_in? %>
			<div class="backTabs">
				<a class="newPostLink" href="/experiments/<%= @experiment.id %>/new">New Post</a><br />
			</div>
		<% end %>
		<% @posts.each do |post| %>
			<% if @experiment == post.experiment %>
				<div class="postPreview">
					<a href="/posts/<%= post.id %>">
						<%= image_tag post.image %><br />
						<%= post.title %>
					</a><br />
					<a href="/<%= post.user.username %>/post"><%= post.user.username %></a><br />
				</div>
			<% elsif post.experiment.nil? %>
				<p>This experiment doesn't have any posts yet.</p>
			<% end %>
		<% end %>
</div>