<div id="experimentIndex">

<h1>Experiments</h1>
  <% @experiments.each do |experiment| %>
    <h3><%= experiment.title %></h3><br />
    <%= experiment.overview %><br />
    <a href="/fields/<%= experiment.field.id %>"><%= experiment.field.name %></a><br />
    <%= image_tag experiment.image %><br />
    <%= link_to 'Show', experiment %>
    <%= link_to 'Edit', edit_experiment_path(experiment) %>
    <%= link_to 'Destroy', experiment, method: :delete, data: { confirm: 'Are you sure?' } %><br /><br />
  <% end %>
  
<br>

<%= link_to 'New Experiment', new_experiment_path %>

</div>