<div id="experimentIndex">

<div class="h1Div"><h1>Experiments</h1></div><br />
	<% if user_signed_in? && current_user.admin? %>
		<%= link_to 'New Experiment', new_experiment_path %> | 
		<%= link_to 'New Experiment Step', new_step_path %><br />
	<% end %>
  	<% @experiments.each do |experiment| %>
  		<div class="experimentPreview">
			<a href="/experiments/<%= experiment.id %>">

      <div class="experimentImageSpan" style="background:url('<%= experiment.image.url %>'); background-size:cover; background-position:center; background-repeat:no-repeat;">  
      <!-- <br /><br /><br /><br /><br /> -->
      </div>
      <p><strong><%= experiment.title %></strong></p></a>

    		<!-- <h3><%# experiment.title %></h3></a> -->
    		<a href="/fields/<%= experiment.field.id %>"><h4><%= experiment.field.name %></h4></a>
    		<!-- <a href="/experiments/<%# experiment.id %>"><%# image_tag experiment.image %></a><br /> -->
    		<% if user_signed_in? && UserExperiment.find_by(experiment_id: experiment.id, user_id: current_user.id) %>
      			<%= button_to 'Unsave Experiment', experiment_remove_path(experiment) %>
    		<% else %>
      			<%= button_to 'Save Experiment', experiment_add_path(experiment) %>
    		<% end %>
    		<!-- <%# if user_signed_in? && current_user.admin? %>
    			<%# link_to 'Edit', edit_experiment_path(experiment) %> | 
    			<%# link_to 'Delete', experiment, method: :delete, data: { confirm: 'Are you sure?' } %>
  			<%# end %> -->
    	</div>
  	<% end %>
</div>