<div id="experimentShowDiv">

  <h2><%= @experiment.title %></h2>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'Edit', edit_experiment_path(@experiment) %> | 
    <%= link_to 'Delete', @experiment, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %><br />
    <p class="fieldName"><strong>Field:</strong>
    <a href="/fields/<%= @experiment.field.id %>"><%= @experiment.field.name %></a></p>
    <% if user_signed_in? && UserExperiment.find_by(experiment_id: @experiment.id, user_id: current_user.id) %>
      <%= button_to 'Unsave Experiment', experiment_remove_path(@experiment) %>
    <% else %>
      <%= button_to 'Save Experiment', experiment_add_path(@experiment) %>
    <% end %><br />
    <span class="experimentImageSpan"><%= image_tag @experiment.image %></span><br />
    <%= @experiment.overview %>
    <a class="stepLink<%= " inactive" if params[:pg] == "steps" %>" href="/experiments/<%= @experiment.id %>/steps">Steps</a>

<% if @experiment.kits %>
	<% @experiment.kits.each do |kit| %>
		<a class="kitLink" href="<%= exper_path(@experiment,"kit") %>">Kit</a>
    <!-- <div id="kitModal"> -->
		  <span id ="kitModal" class="experiment_panel hideKit<%= " active" if params[:pg] == "kit" %>"><%= render file: 'kits/show', locals: {kit: kit} %><br />
        <button type="button" name="button" onclick="closeModal()">Close</button></span>
    <!-- </div> -->
	<% end %>
<% else %>
	<p>This experiment doesn't have a kit.</p>
<% end %>

<a class="expPostLink<%= " inactive" if params[:pg] == "posts" %>" href="/experiments/<%= @experiment.id %>/posts">Posts About This Experiment</a>
<span class="experiment_panel hideSteps<%= " active" if params[:pg] == "steps" %>"><%= render 'steps', exper: @experiment %></span>
<br />
<span class="experiment_panel hideExpPosts<%= " active" if params[:pg] == "posts" %>"><%= render 'posts', exper: @experiment %></span>
<br />
<span class="experiment_panel hideNewPostLink<%= " active" if params[:pg] == "new" %>">
  <h1>New Post</h1><br />
  <%= render 'posts/form', exper: @experiment, method: :new %>
</span><br />

  <%= link_to 'See All Experiments', experiments_path %>

</div>