<div id="experimentShowDiv">

  <h1><%= @experiment.title %></h1><br />
  <div class="experimentTabs">
    <a class="stepLink" id="stepClick" href="/experiments/<%= @experiment.id %>/steps#stepAnchor">Steps</a>
    <!-- <a class="stepLink<%# " inactive" if params[:pg] == "steps" %>" href="/experiments/<%# @experiment.id %>/steps">Steps</a> -->
    <% if @experiment.kits %>
      <% @experiment.kits.each do |kit| %>
        <a class="kitLink" href="<%= exper_path(@experiment,"kit") %>">Kit</a>
        <span id ="kitModal" class="experiment_panel hideKit<%= " active" if params[:pg] == "kit" %>"><%= render file: 'kits/show', locals: {kit: kit} %><br />
          <button type="button" name="button" onclick="closeModal()">Close</button></span>
      <% end %>
    <% end %>
    <a class="expPostLink" href="/experiments/<%= @experiment.id %>/posts#postAnchor">Posts</a>
    <!-- <a class="expPostLink<%# " inactive" if params[:pg] == "posts" %>" href="/experiments/<%# @experiment.id %>/posts">Posts</a> -->
  </div>
  <% if user_signed_in? && current_user.admin? %>
    <br /><%= link_to 'Edit', edit_experiment_path(@experiment) %> | 
    <%= link_to 'Delete', @experiment, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
    <h3 class="fieldName"><strong>Field:</strong>
    <a href="/fields/<%= @experiment.field.id %>"><%= @experiment.field.name %></a></h3>
    <% if user_signed_in? && UserExperiment.find_by(experiment_id: @experiment.id, user_id: current_user.id) %>
      <%= button_to 'Unsave Experiment', experiment_remove_path(@experiment) %>
    <% elsif not user_signed_in? %>
    <% else %>
      <%= button_to 'Save Experiment', experiment_add_path(@experiment) %>
    <% end %>
    <span class="experimentImageSpan"><%= image_tag @experiment.image %></span><br />
    <%= @experiment.overview %>
    <span id="postAnchor"></span>
    <span id="stepAnchor"></span>
    <br />
    <br />
    <br />

<span class="experiment_panel hideSteps<%= " active" if params[:pg] == "steps" %>" id="steps"><%= render 'steps', exper: @experiment %></span>
<br />
<span class="experiment_panel hideExpPosts<%= " active" if params[:pg] == "posts" %>" id="posts"><%= render 'posts', exper: @experiment %></span>
<br />
<span class="experiment_panel hideNewPostLink<%= " active" if params[:pg] == "new" %>" id="new">
  <h1>New Post</h1><br />
  <%= render 'posts/form', exper: @experiment, method: :new %>
</span>

  <%# link_to 'See All Experiments', experiments_path %>

</div>