<div id="userArticleDiv">
	<h2>Saved Articles</h2>

	<% if user_signed_in? && current_user == @user %>
		<% if (@user.articles.nil? or @user.articles == []) %>
			<h3>Save some articles to your profile!</h3>
			<a class="articleAdd" href="/">Add Articles</a>
		<% else %>
			<a class="articleAdd" href="/">Add Articles</a><br />
			<% @user.articles.each do |article| %>
				<span class ="articleDiv">
					<a class="articlePreview" href="<%= article.alink %>">
						<span class="articleImg"><%= image_tag article["picture"] %></span><br />
						<%= article["name"] %></a><br />
					<%= button_remove_article(article) %><br />
				</span>
			<% end %>
		<% end %>

	<% else %>
		<% if (@user.articles.nil? or @user.articles == []) %>
			<h3>Sorry, this user hasn't saved any articles yet!</h3>
		<% else %>
			<% @user.articles.each do |article| %>
				<span class ="articleDiv">
					<a class="articlePreview" href="<%= article.alink %>">
						<span class="articleImg"><%= image_tag article["picture"] %></span><br />
						<%= article["name"] %></a><br />
				</span>
			<% end %>
		<% end %>
	<% end %>
</div>
