<div id="userPostDiv">
<h1>Posts</h1><br />
	<% if user_signed_in? && current_user == @user %>
		<% if (@user.posts.nil? || @user.posts == []) %>
			<div class="backTabs">
				<a class="newPostsLink" href="/<%= @user.username %>/new">New Post</a><br />
			</div>
			<h3>Add some posts to your profile!</h3>
		<% else %>
			<div class="backTabs">
				<a class="newPostsLink" href="/<%= @user.username %>/new">New Post</a><br />
			</div>
			<% @user.posts.each do |post| %>
				<div class="postPreview">
					<a href="/posts/<%= post.id %>">
						<%= image_tag post.image %><br />
						<h3><%= post.title %></h3></a><br />
					<!-- <a class="editPostsLink" href="/<%# @user.username %>/edit/<%# post.id %>">Edit</a> | 
					<%# link_to 'Delete', post, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %> -->
				</div>
			<% end %>
		<% end %>
	<% elsif @user.posts.nil? || @user.posts == [] %>
		<h4>This user doesn't have any posts yet.</h4>
	<% else %>
		<% @user.posts.each do |post| %>
			<div class="postPreview">
				<a href="/posts/<%= post.id %>">
					<%= image_tag post.image %><br />
					<h3><%= post.title %></h3></a>
			</div>
		<% end %>
	<% end %>
</div>