<div id="profileDiv">
<!-- fixed div w/ user info to navigate profile page -->
	<div id="userNavDiv" class="col-md-2">
		<div id="userInfo">
			<h2><%= @user.full_name %></h2><br />
			<p><strong>Username:</strong></p>
			<i><%= @user.username %></i><br />
			<span class="propicImg"><%= image_tag @user.propic %></span><br />
			<p><strong>Location:</strong></p>
			<%= @user.location["name"] %><br /><br />
		</div>
		<a class="savedArticlesLink" href="/<%= @user.username %>/article"><h4>Articles</h4></a>
		<a class="savedExperimentsLink" href="/<%= @user.username %>/experiment"><h4>Experiments</h4></a>
		<a class="userPostsLink" href="/<%= @user.username %>/post"><h4>Posts</h4></a>
	</div>

	<!-- div where pages render for a user's saved articles, experiments, and posts; renders the articles first, when page loads -->
	<div id="userRenderDiv" class="col-md-offset-2 col-md-10">
		<span class="profile_panel hideArticles<%= " active" unless params[:page] == "experiment" || params[:page] == "post" || params[:page] == "new" || params[:page] == "edit" %>"><%= render 'userarticles' %></span>
		<span class="profile_panel hideExperiments<%= " active" if params[:page] == "experiment" %>"><%= render 'userexperiments' %></span>
		<span class="profile_panel hidePosts<%= " active" if params[:page] == "post" %>"><%= render 'userposts', post: @post %></span>
		<span class="profile_panel hideNewPost<%= " active" if params[:page] == "new" %>">
			<h1>New Post</h1><br />
			<%= render 'posts/form', post: @post, method: :new %>
		</span>
		<span class="profile_panel hideEditPost<%= " active" if params[:page] == "edit" %>">
			<h1>Edit Post</h1><br />
			<%= render 'posts/form', post: @post, method: :update %>
		</span>

	</div>
</div>