<div id="stepShow">

<h1>Step</h1><br />

<%= link_to 'Edit Step', edit_step_path(@step) %> | 
<%= link_to 'See Experiment', @step.experiment %><br /><br />

<p>
  <h3>Number:</h3>
  <%= @step.number %>
</p><br />

<p>
  <h3>Body:</h3>
  <%= @step.body %>
</p><br />

<p>
  <h3>Image:</h3>
  <%= image_tag @step.image %>
</p><br />

<p>
  <h3>Experiment:</h3>
  <%= @step.experiment.title %>
</p><br /><br />

</div>