<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <br /><br />
    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.input :image %>
    <% if ((defined?(exper)).nil? == false) && exper.id %>
      <%= f.input :experiment_id, as: :hidden, input_html: { value: exper.id } %>
    <% else %>
      <%= f.association :experiment, input_html: {id: 'post.experiment_id', value: @post.experiment_id} %>
    <% end %>
  </div>  

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
