<div id="postFeedDiv">
<h1>Post Feed</h1>
  <% @posts.each do |post| %>
    <div class="postPreview">
      <a href="/posts/<%= post.id %>"><%= post.title %></a><br />
      <a href="/<%= post.user.username %>"><h3><%= post.user.username %></h3></a><br />
      <a href="/posts/<%= post.id %>"><%= image_tag post.image %></a><br />
        <% if current_user.admin? %>
          <%# link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% else %>
        <% end %>
    </div>
  <% end %>
</div>