<div id="postShowDiv">
  <h2><%= @post.title %></h2><br />
    <a href="/<%= @user.username %>"><h3><%= @post.user.username %></h3></a><br />
    <a href="/experiments/<%= @post.experiment.id %>"><h4>Experiment: <%= @post.experiment.title %></h4></a><br />
    <%= image_tag @post.image %><br />
    <%= @post.body %><br />

    <% if @post.user == current_user %>
      <a class="editPostsLink" href="/<%= @user.username %>/edit/<%= @post.id %>">Edit</a> | 
      <%= link_to 'Delete', @post, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
      <%# link_to 'Edit', edit_post_path(@post) %> | 
      <%= link_to 'Go To My Posts', profile_path(@post.user.username,:post) %>
    <% end %><br />

    <%= link_to 'Go To Post Feed', posts_path %>
</div>