<% if @field.id == 1 %>
	<%= render file: '/fields/astronomy', as: astro_path %>
<% elsif @field.id == 2 %>
	<%= render file: '/fields/chemistry', as: chem_path %>
<% elsif @field.id == 3 %>
	<%= render file: '/fields/geology', as: geo_path %>
<% else %>

<div id="fieldShowDiv">
  <h1><%= @field.name %></h1><br /><br />
  <span class="fieldShowImage"><%= image_tag @field.image %></span><br /><br />
  <%= @field.overview %><br /><br />

<p>
  <strong>Experiments:</strong>
<% if @field.experiments %>
	<% @field.experiments.each do |experiment| %>
		<a href="/experiments/<%= experiment.id %>"><%= experiment.title %></a><br />
	<% end %>
<% else %>
	<p>Sorry, no experiments in this field yet... coming soon!</p>
<% end%>
</p>

<br /><br />
<% if user_signed_in? && current_user.admin? %>
	<%= link_to 'Edit', edit_field_path(@field) %><br />
<% end %>
<%# link_to 'See All Fields', fields_path %>
</div>

<% end %>