<!DOCTYPE html>
<html>
  <head>
    <title>MadSciExplorer</title>
    <%= csrf_meta_tags %>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script>
    $(document).ready(function(){
      $(".main").tiltedpage_scroll({
        angle: 30
      });
    });
    </script> -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div id="stickyNav">
    <nav id="nav" class="nav">
      <div class="brand">
        <a href="/">MadSciExplorer</a>
      </div>
      <ul class="navbar">
        <li>
          <a href="/">Home</a>
        </li>
        <% if user_signed_in? %>
        <li>
          <a href="/<%= current_user.username %>">Profile</a>
        </li>
        <% end %>
        <li>
          <a href="/fields">Scientific Fields</a>
        </li>
        <li>
          <a href="/experiments">Experiments</a>
        </li>
        <li>
          <a href="/posts">Posts</a>
        </li>
        <% if user_signed_in? %>
        <li>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        </li>
        <li class="explorerName">
          Explorer: <a href="/<%= current_user.username %>"><%= current_user.full_name %></a>
        </li>
        <% else %>
          <li onclick="signInModalShow()" class="navToModal">Sign In/Sign Up</li>
        <% end %>
      </ul>
    </nav>
  </div>
  <!-- sign in/sign up modal: -->
    <div id="signInModal" class="modal">
      <%= render file: "devise/sessions/new" %>
      <%= render file: "devise/registrations/new" %>
      <br>
      <button type="button" name="button" id="modalClose" onclick="closeSigninModal()">Close</button><br /><br />
    </div>
    <%= yield %>
  </body>
</html>
